<div class="content-wrapper">
    <div class="slick-carousel authors-carousel">
        {% for slide in authors.slides %}
            <div class="authors-carousel__item">
                <a href="{{ slide.url }}" class="authors-carousel__link d-flex flex-column align-content-center">
                    <img class="authors-carousel__img" src="./img/{{ slide.image }}" alt="">
                    <span class="authors-carousel__name text-center">{{ slide.name }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>