<div class="go-top">
    <a class="row justify-content-center align-items-center mr-0 ml-0 smoothscroll go-top-btn" title="Back to Top" href="{{ link }}">
        <i data-feather="{{ icon }}"></i>
    </a>
</div>