// Custom global colors
$colorText: #1b1b1b;
$colorTextLight: #b3b3b3;
$colorTheme: #ff0506;
$bgBody: #fff;
$bgBlock: #f6f6f6;

// Widths
$minWidth: 320px;
$maxWidth: 1500px;

// Fonts
$family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
